.cards-background {
    columns: 5 280px;
    column-gap: .5rem;

}
.cards img {
    width: 100%;
    
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.cards {    
    break-inside: avoid;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: .3s;
    flex-grow: 1;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 15px !important;
}
.cards:hover{
    box-shadow: -1px 0px 14px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 14px 2px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
.cards-text {
    width: 100%;
    height: 100%;
    padding: 10px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.genres {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.genres-text {
    margin-left: 5px;
}
span {
    color: crimson;
}