.cards-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    gap: 1rem;

}
.cards img {
    
    width: 100%;
    
}
.cards {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 0.75rem 1rem;
    width: 280px;
    display: flex;
    flex-direction: column;
    transition: .3s;
    flex-grow: 1;
    
}
.cards:hover{
    box-shadow: -1px 0px 14px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 14px 2px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
.cards-text {
    
    width: 100%;
    height: 100%;
    padding: 10px 8px;
    box-sizing: border-box;
}